<section>
  <div>
    <h2>{{singleQ.body}}</h2>
    <p ng-if="singleQ.votes === undefined">No Votes</p>
    <p>{{singleQ.votes.length}}</p>
  </div>
  <a href ng-click="generateQ('funny')">Next</a>
</section>
