<section>
  <div class="quote" ng-repeat="quote in motivational">
    {{quote.body}}
  </div>
  <p></p>
  <div class="quote" ng-repeat="fun in funny">
    {{fun.body}}
  </div>
  {{quotes}}
</section>
